@import '../../styles/mixins';

.CustomLink {
    display: inline-block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none;
    @include fontsize_text;
    @include font_title;
    background-color: #76b900;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px 30px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    &:hover {
        background-color: #000;
        color:#76b900;
        border: 1px solid #76b900;
    }

    &:active {
        background-color: #000;
        color:#96e016;
        border: 1px solid #96e016;
    }

    &:focus-visible {
        background-color: #000;
        color:#76b900;
        border: 1px solid #76b900;
    }
}