@import '../../styles/mixins.scss';

.container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.5);
        z-index: 10;
    }
}