//=======================
// Точки для media-queries
//=======================
$media1200: 1200px;
$media1024: 1024px;
$media768: 768px;
$media600: 600px;
$media480: 480px;
$media375: 375px;
$media320: 320px;


//=======================
// Цвета
//=======================
$c-white: #fff;
$c-black: #000;
$c-black-decorative: #242425;
$c-green: #76b900;
$c-green-decorative: #96e016;


