@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  @include font_text;
  @include fontsize_text;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $c-black-decorative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-white;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1 {
  margin: 20px 0;
}

html,
#root {
  height: 100%;
}
